body {
    font-family: Roboto, sans-serif;
    color: #0aa;
    background-color: rgb(5,5,5);
    margin:10px;
    box-sizing: content-box;
}
header {
    margin: 5px;
    padding: 20px;
    background: #222222;
}
header * {
    margin-right: 10px;
}
header span {
    padding: 5px;
    margin: 5px 10px 5px 5px;
    color: rgb(5,5,5);
    background: #a0a;
}
.posts {
    margin: 2em 5px 2em 5px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    row-gap: 2em;
}
.post {
    background: #222222;
    display: grid;
    row-gap: 0.5em;
}
.post div {
    margin: 0.5em;
}
.post .name {
    grid-column: 1;
    grid-row: 1;
}
.post .title {
    grid-column: 2;
    grid-row: 1;
}
.post .text {
    grid-column: 1/ span 2;
    grid-row: 2;
}
footer {
    background: #222222;
    margin: 5px;
}